<template>
  <main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
    <div class="container">
      <div class="card login-card">
        <div class="row no-gutters">
          <div class="col-md-7 col-lg-7">
            <img
              src="assets/img/masuk.png"
              alt="login"
              class="login-card-img"
            />
          </div>
          <div class="col-md-5 col-lg-5">
            <div class="card-body">
              <p class="login-card-description">Masuk ke akun Uemka</p>
              <form action="#!" v-on:submit.prevent="onSubmit">
                <div class="form-group">
                  <label for="email" class="sr-only">Email</label>
                  <input
                    type="email"
                    name="email"
                    id="email"
                    v-model="email"
                    class="form-control"
                    placeholder="Email address"
                  />
                </div>
                <div class="form-group mb-4">
                  <label for="password" class="sr-only">Password</label>
                  <input
                    type="password"
                    name="password"
                    v-model="password"
                    id="password"
                    class="form-control"
                    placeholder="***********"
                  />
                </div>
                <div class="mb-3">
                  <vue-recaptcha
                    sitekey="6Lc7QQcaAAAAALMPAy1bLtHrhbVCeCeuuLEDcBQL"
                  ></vue-recaptcha>
                </div>
                <button type="submit" class="btn-block login-btn">
                  <a>
                    <input
                      name="login"
                      id="login"
                      class="btn btn-block"
                      type="button"
                      value="Login"
                  /></a>
                </button>

                <button class="btn btn-block register-btn" @click="google()">
                  <img src="login/assets/images/google.png" /><span class="ml-4"
                    >sign in with google</span
                  >
                </button>
              </form>
              <a
                href="#!"
                class="forgot-password-link text-right"
                data-toggle="modal"
                data-target="#exampleModal"
                >Lupa Katasandi?</a
              >
              <p class="login-card-footer-text">
                Belum memiliki akun ?
                <a href="/daftar" class="text-reset">Daftar disni</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- Email Input -->
      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body text-center mt-3 text-warning">Uemka</div>
            <div class="row text-center">
              <div class="col">
                <div class="mb-5">
                  <h4 class="font-weight-bold">Lupa Password</h4>
                  <p>Silahkan masukkan alamat email Anda</p>
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-9">
                <form>
                  <div class="form-group">
                    <label for="exampleFormControlInput1">Email Anda</label>
                    <input
                      type="email"
                      class="form-control"
                      id="exampleFormControlInput1"
                      placeholder="name@example.com"
                    />
                  </div>
                  <div class="kontent">
                    <p>Kami akan mengirimkan link untuk reset password Anda</p>
                  </div>
                </form>
                <div class="text-center mb-5 mt-5">
                  <button
                    class="btn btn-warning"
                    data-toggle="modal"
                    data-target="#exampleModal1"
                  >
                    Kirim
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- OK -->
      <div
        class="modal fade"
        id="exampleModal1"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body text-center mt-3 text-warning">Uemka</div>
            <div class="row text-center">
              <div class="col">
                <div class="mb-5">
                  <h4 class="font-weight-bold">Masukkan Token Otp</h4>
                  <p>Kode OTP anda sudah dikirim nomor Anda</p>
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-9">
                <form>
                  <div class="d-flex flex-row">
                    <input type="text" class="form-control" autofocus="" />
                    <input type="text" class="form-control" autofocus="" />
                    <input type="text" class="form-control" autofocus="" />
                    <input type="text" class="form-control" autofocus="" />
                    <input type="text" class="form-control" autofocus="" />
                    <input type="text" class="form-control" autofocus="" />
                  </div>
                  <div class="kontent mt-5 text-center">
                    <a href="#">Kirim ulang kode OTP</a>
                  </div>
                </form>
                <div class="text-center mb-3 mt-3">
                  <button
                    class="btn btn-warning"
                    data-toggle="modal"
                    data-target="#exampleModal1"
                  >
                    Kirim
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal OTP -->
      <!-- <div
        class="modal fade"
        id="exampleModal1"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="d-flex flex-row mt-5">
                <input type="text" class="form-control" autofocus="" />

                <input type="text" class="form-control" autofocus="" />

                <input type="text" class="form-control" autofocus="" />

                <input type="text" class="form-control" autofocus="" />

                <input type="text" class="form-control" autofocus="" />

                <input type="text" class="form-control" autofocus="" />
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Close
              </button>
              <button type="button" class="btn btn-primary">
                Save changes
              </button>
            </div>
          </div>
        </div>
      </div> -->
      <!--Modal Vue -->

      <!-- <div class="card login-card">
        <img src="assets/images/login.jpg" alt="login" class="login-card-img">
        <div class="card-body">
          <h2 class="login-card-title">Login</h2>
          <p class="login-card-description">Sign in to your account to continue.</p>
          <form action="#!">
            <div class="form-group">
              <label for="email" class="sr-only">Email</label>
              <input type="email" name="email" id="email" class="form-control" placeholder="Email">
            </div>
            <div class="form-group">
              <label for="password" class="sr-only">Password</label>
              <input type="password" name="password" id="password" class="form-control" placeholder="Password">
            </div>
            <div class="form-prompt-wrapper">
              <div class="custom-control custom-checkbox login-card-check-box">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1">Remember me</label>
              </div>              
              <a href="#!" class="text-reset">Forgot password?</a>
            </div>
            <input name="login" id="login" class="btn btn-block login-btn mb-4" type="button" value="Login">
          </form>
          <p class="login-card-footer-text">Don't have an account? <a href="#!" class="text-reset">Register here</a></p>
        </div>
      </div> -->
    </div>
  </main>
</template>
<style scoped>
.container {
  height: 100vh;
}

body {
  background: #eee;
}

.mobile-text {
  color: #989696b8;
  font-size: 15px;
}

.form-control {
  margin-right: 12px;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #ff8880;
  outline: 0;
  box-shadow: none;
}

.cursor {
  cursor: pointer;
}
/*  */
.modal-content {
  width: 455px;
  height: 400px;
}
.modal-content h4 p {
  margin-top: -20px !important;
}
.modal-content p {
  font-family: "Manrope";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}

.modal-content .kontent p {
  font-family: "Manrope";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
}

.modal-content .kontent a {
  font-family: "Manrope";
  color: #495057;
  font-style: normal;

  font-weight: normal;
  font-size: 12px;
}

.modal-content button {
  padding: 10px 28px;
  border-radius: 3px;
}
</style>
<script>
import axios from "axios";
import VueRecaptcha from "vue-recaptcha";
import firebase from "firebase/app";
export default {
  components: {
    VueRecaptcha,
  },
  data: () => ({
    email: "",
    password: "",
  }),
  methods: {
    google() {
      let provider = new firebase.auth.GoogleAuthProvider();
      firebase
        .auth()
        .signInWithPopup(provider)
        .then((result) => {
          console.log(result);
          this.$router.push("/profile");
        })
        .catch((err) => {
          console.log(err);
        });
    },
    onSubmit() {
      const data = {
        email: this.email,
        password: this.password,
      };
      axios
        .get("http://127.0.0.1:8000/api/auth/viewall", data, {})
        .then((res) => {
          console.log(res.data);
          // this.$router.push("/updateprofile");
        })
        .catch((err) => {
          console.log(err.Response.data);
        });
    },
  },
};
</script>