<template>
  <main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
    <div class="container">
      <div class="card login-card">
        <div class="row no-gutters">
          <div class="col-md-6">
            <img
              src="assets/img/masuk.png"
              alt="login"
              class="login-card-img"
            />
          </div>
          <div class="col-md-6">
            <div class="card-body">
              <p class="login-card-description">Buka Akun Uemka</p>
              <form action="#!">
                <div class="form-group">
                  <label for="name" class="sr-only">Name</label>
                  <input
                    type="name"
                    name="name"
                    id="name"
                    class="form-control"
                    placeholder="Masukan Nama Anda"
                  />
                  <label for="email" class="sr-only">Email</label>
                  <input
                    type="email"
                    name="email"
                    id="email"
                    class="form-control"
                    placeholder="Masukan Nomor Anda"
                  />
                </div>
                <div class="form-group mb-4">
                  <label for="email" class="sr-only">Email</label>
                  <input
                    type="email"
                    name="email"
                    id="email"
                    class="form-control"
                    placeholder="Masukan Email Anda"
                  />
                  <label for="password" class="sr-only">Password</label>
                  <input
                    type="password"
                    name="password"
                    id="password"
                    class="form-control"
                    placeholder="*********"
                  />
                  <label for="password" class="sr-only">Password</label>
                  <input
                    type="password"
                    name="password"
                    id="password"
                    class="form-control"
                    placeholder="*********"
                  />
                </div>
                <input
                  name="login"
                  id="login"
                  class="btn btn-block login-btn"
                  type="button"
                  value="Daftar"
                />
                <button class="btn btn-block register-btn">
                  <img src="Login/assets/images/google.png" /><span class="ml-4"
                    >Sign up with google</span
                  >
                </button>
              </form>
              <p class="login-card-footer-text ml-5">
                Sudah punya akun ?
                <a href="/masuk" class="text-reset">Masuk disini</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="card login-card">
        <img src="assets/images/login.jpg" alt="login" class="login-card-img">
        <div class="card-body">
          <h2 class="login-card-title">Login</h2>
          <p class="login-card-description">Sign in to your account to continue.</p>
          <form action="#!">
            <div class="form-group">
              <label for="email" class="sr-only">Email</label>
              <input type="email" name="email" id="email" class="form-control" placeholder="Email">
            </div>
            <div class="form-group">
              <label for="password" class="sr-only">Password</label>
              <input type="password" name="password" id="password" class="form-control" placeholder="Password">
            </div>
            <div class="form-prompt-wrapper">
              <div class="custom-control custom-checkbox login-card-check-box">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1">Remember me</label>
              </div>              
              <a href="#!" class="text-reset">Forgot password?</a>
            </div>
            <input name="login" id="login" class="btn btn-block login-btn mb-4" type="button" value="Login">
          </form>
          <p class="login-card-footer-text">Don't have an account? <a href="#!" class="text-reset">Register here</a></p>
        </div>
      </div> -->
    </div>
  </main>
</template>