<template>
  <section class="artikel-1">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h1>Artikel</h1>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-lg-4">
          <div class="card">
            <img
              src="/assets/img/atm.png"
              class="card-img-top mb-3 img-responsive"
              alt="..."
            />
            <div class="card-body">
              <a href="/Pageartikel" class="card-text h5 mt-4 font-weight-bold"
                >Masih Dinaungi Sentimen Positif, Begini Pergerakan IHSG
                Sepeka</a
              >
              <br />
              <p class="mt-4">Senin, 23 Nov 2020 11:44 WIB</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card">
            <img src="/assets/img/hp.png" class="card-img-top mb-3" alt="..." />
            <div class="card-body">
              <a href="/Pageartikel" class="card-text h5 mt-4 font-weight-bold"
                >Corona Ganas Lagi, IHSG Diprediksi Terkoreksi</a
              >
              <br />
              <p class="mt-4">Senin, 23 Nov 2020 11:44 WIB</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card">
            <img
              src="/assets/img/laptop.png"
              class="card-img-top mb-3"
              alt="..."
            />
            <div class="card-body">
              <a href="#" class="card-text h5 mt-4 font-weight-bold"
                >Gagal Bayar Rp 1,9 T, Indosterling Mulai Cicil Utang Desember
                2020</a
              >
              <br />
              <p class="mt-4">Senin, 23 Nov 2020 11:44 WIB</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-lg-4">
          <div class="card">
            <img
              src="/assets/img/emas.png"
              class="card-img-top mb-3 img-responsive"
              alt="..."
            />
            <div class="card-body">
              <a href="#" class="card-text h5 mt-4 font-weight-bold"
                >Dolar AS Melemah Lagi, Pagi Ini di Level Rp 14.140</a
              >
              <br />
              <p class="mt-4">Senin, 23 Nov 2020 11:44 WIB</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card">
            <img
              src="/assets/img/pohon.png"
              class="card-img-top mb-3"
              alt="..."
            />
            <div class="card-body">
              <a href="#" class="card-text h5 mt-4 font-weight-bold"
                >Awal Pekan, IHSG Masih Melaju di Zona Hijau</a
              >
              <br />
              <p class="mt-4">Senin, 23 Nov 2020 11:44 WIB</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card">
            <img
              src="/assets/img/dompet.png"
              class="card-img-top mb-3"
              alt="..."
            />
            <div class="card-body">
              <a href="#" class="card-text h5 mt-4 font-weight-bold"
                >Marak Gagal Bayar Investasi, Siapa Harus Tanggung Jawab?</a
              >
              <br />
              <p class="mt-4">Senin, 23 Nov 2020 11:44 WIB</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>