<template>
    <main id="main">


        <!-- ======= Blog Section ======= -->
        <section id="blog" class="blog">
            <div class="container">

                <div class="row">

                    <div class="col-lg-12">

                        <article class="entry entry-single" data-aos="fade-up">

                            <div class="entry-img">
                                <img src="assets/img/blog-1.jpg">
                            </div>

                            <h2 class="entry-title">
                                <a href="blog-single.html">Dolar AS Melemah Lagi</a>
                            </h2>

                            <div class="entry-meta">
                                <ul>
                                    <li class="d-flex align-items-center"><i class="icofont-user"></i> <a
                                            href="blog-single.html">Ditulis oleh Lilo Pasha</a></li>
                                    <li class="d-flex align-items-center"><i class="icofont-wall-clock"></i> <a
                                            href="blog-single.html"><time datetime="2020-01-01">Jan 1, 2020</time></a>
                                    </li>
                                    <li class="d-flex align-items-center"><i class="icofont-comment"></i> <a
                                            href="blog-single.html">12
                                            Comments</a></li>
                                </ul>
                            </div>

                            <div class="entry-content">
                                <p>
                                  Section 1.10.32 of "de Finibus Bonorum et Malorum", written by Cicero in 45 BC
"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"
                                </p>

                                <p>
                                    Sit repellat hic cupiditate hic ut nemo. Quis nihil sunt non reiciendis. Sequi in
                                    accusamus harum vel
                                    aspernatur. Excepturi numquam nihil cumque odio. Et voluptate cupiditate.
                                </p>

                                <blockquote>
                                    <i class="icofont-quote-left quote-left"></i>
                                    <p>
                                        Et vero doloremque tempore voluptatem ratione vel aut. Deleniti sunt animi aut.
                                        Aut eos aliquam
                                        doloribus minus autem quos.
                                    </p>
                                    <i class="las la-quote-right quote-right"></i>
                                    <i class="icofont-quote-right quote-right"></i>
                                </blockquote>

                                <p>
                                    Sed quo laboriosam qui architecto. Occaecati repellendus omnis dicta inventore
                                    tempore provident
                                    voluptas mollitia aliquid. Id repellendus quia. Asperiores nihil magni dicta est
                                    suscipit
                                    perspiciatis. Voluptate ex rerum assumenda dolores nihil quaerat.
                                    Dolor porro tempora et quibusdam voluptas. Beatae aut at ad qui tempore corrupti
                                    velit quisquam rerum.
                                    Omnis dolorum exercitationem harum qui qui blanditiis neque.
                                    Iusto autem itaque. Repudiandae hic quae aspernatur ea neque qui. Architecto
                                    voluptatem magni. Vel
                                    magnam quod et tempora deleniti error rerum nihil tempora.
                                </p>

                                <h3>Et quae iure vel ut odit alias.</h3>
                                <p>
                                    Officiis animi maxime nulla quo et harum eum quis a. Sit hic in qui quos fugit ut
                                    rerum atque. Optio
                                    provident dolores atque voluptatem rem excepturi molestiae qui. Voluptatem laborum
                                    omnis ullam
                                    quibusdam perspiciatis nulla nostrum. Voluptatum est libero eum nesciunt aliquid
                                    qui.
                                    Quia et suscipit non sequi. Maxime sed odit. Beatae nesciunt nesciunt accusamus quia
                                    aut ratione
                                    aspernatur dolor. Sint harum eveniet dicta exercitationem minima. Exercitationem
                                    omnis asperiores
                                    natus aperiam dolor consequatur id ex sed. Quibusdam rerum dolores sint consequatur
                                    quidem ea.
                                    Beatae minima sunt libero soluta sapiente in rem assumenda. Et qui odit voluptatem.
                                    Cum quibusdam
                                    voluptatem voluptatem accusamus mollitia aut atque aut.
                                </p>
                                <img src="assets/img/blog-5.jpg" class="img-fluid" alt="">

                                <h3>Ut repellat blanditiis est dolore sunt dolorum quae.</h3>
                                <p>
                                    Rerum ea est assumenda pariatur quasi et quam. Facilis nam porro amet nostrum. In
                                    assumenda quia quae
                                    a id praesentium. Quos deleniti libero sed occaecati aut porro autem. Consectetur
                                    sed excepturi sint
                                    non placeat quia repellat incidunt labore. Autem facilis hic dolorum dolores vel.
                                    Consectetur quasi id et optio praesentium aut asperiores eaque aut. Explicabo omnis
                                    quibusdam esse. Ex
                                    libero illum iusto totam et ut aut blanditiis. Veritatis numquam ut illum ut a quam
                                    vitae.
                                </p>
                                <p>
                                    Alias quia non aliquid. Eos et ea velit. Voluptatem maxime enim omnis ipsa voluptas
                                    incidunt. Nulla
                                    sit eaque mollitia nisi asperiores est veniam.
                                </p>

                            </div>

                            <div class="entry-footer clearfix">
                                <div class="float-left">
                                    <i class="icofont-folder"></i>
                                    <ul class="cats">
                                        <li><a href="#">Business</a></li>
                                    </ul>

                                    <i class="icofont-tags"></i>
                                    <ul class="tags">
                                        <li><a href="#">Creative</a></li>
                                        <li><a href="#">Tips</a></li>
                                        <li><a href="#">Marketing</a></li>
                                    </ul>
                                </div>

                                <div class="float-right share">
                                    <a href="" title="Share on Twitter"><i class="icofont-twitter"></i></a>
                                    <a href="" title="Share on Facebook"><i class="icofont-facebook"></i></a>
                                    <a href="" title="Share on Instagram"><i class="icofont-instagram"></i></a>
                                </div>

                            </div>

                        </article><!-- End blog entry -->

                        <div class="blog-author clearfix" data-aos="fade-up">
                            <img src="assets/img/blog-author.jpg" class="rounded-circle float-left" alt="">
                            <h4>Jane Smith</h4>
                            <div class="social-links">
                                <a href="https://twitters.com/#"><i class="icofont-twitter"></i></a>
                                <a href="https://facebook.com/#"><i class="icofont-facebook"></i></a>
                                <a href="https://instagram.com/#"><i class="icofont-instagram"></i></a>
                            </div>
                            <p>
                                Itaque quidem optio quia voluptatibus dolorem dolor. Modi eum sed possimus accusantium.
                                Quas repellat
                                voluptatem officia numquam sint aspernatur voluptas. Esse et accusantium ut unde
                                voluptas.
                            </p>
                        </div><!-- End blog author bio -->

                        <div class="blog-comments" data-aos="fade-up">

                            <h4 class="comments-count">8 Comments</h4>

                            <div id="comment-1" class="comment clearfix">
                                <img src="assets/img/comments-1.jpg" class="comment-img  float-left" alt="">
                                <h5><a href="">Georgia Reader</a> <a href="#" class="reply"><i
                                            class="icofont-reply"></i> Reply</a></h5>
                                <time datetime="2020-01-01">01 Jan, 2020</time>
                                <p>
                                    Et rerum totam nisi. Molestiae vel quam dolorum vel voluptatem et et. Est ad aut
                                    sapiente quis
                                    molestiae est qui cum soluta.
                                    Vero aut rerum vel. Rerum quos laboriosam placeat ex qui. Sint qui facilis et.
                                </p>

                            </div><!-- End comment #1 -->

                            <div id="comment-2" class="comment clearfix">
                                <img src="assets/img/comments-2.jpg" class="comment-img  float-left" alt="">
                                <h5><a href="">Aron Alvarado</a> <a href="#" class="reply"><i class="icofont-reply"></i>
                                        Reply</a></h5>
                                <time datetime="2020-01-01">01 Jan, 2020</time>
                                <p>
                                    Ipsam tempora sequi voluptatem quis sapiente non. Autem itaque eveniet saepe.
                                    Officiis illo ut beatae.
                                </p>

                                <div id="comment-reply-1" class="comment comment-reply clearfix">
                                    <img src="assets/img/comments-3.jpg" class="comment-img  float-left" alt="">
                                    <h5><a href="">Lynda Small</a> <a href="#" class="reply"><i
                                                class="icofont-reply"></i> Reply</a></h5>
                                    <time datetime="2020-01-01">01 Jan, 2020</time>
                                    <p>
                                        Enim ipsa eum fugiat fuga repellat. Commodi quo quo dicta. Est ullam aspernatur
                                        ut vitae quia
                                        mollitia id non. Qui ad quas nostrum rerum sed necessitatibus aut est. Eum
                                        officiis sed repellat
                                        maxime vero nisi natus. Amet nesciunt nesciunt qui illum omnis est et dolor
                                        recusandae.

                                        Recusandae sit ad aut impedit et. Ipsa labore dolor impedit et natus in porro
                                        aut. Magnam qui cum.
                                        Illo similique occaecati nihil modi eligendi. Pariatur distinctio labore omnis
                                        incidunt et illum.
                                        Expedita et dignissimos distinctio laborum minima fugiat.

                                        Libero corporis qui. Nam illo odio beatae enim ducimus. Harum reiciendis error
                                        dolorum non autem
                                        quisquam vero rerum neque.
                                    </p>

                                    <div id="comment-reply-2" class="comment comment-reply clearfix">
                                        <img src="assets/img/comments-4.jpg" class="comment-img  float-left" alt="">
                                        <h5><a href="">Sianna Ramsay</a> <a href="#" class="reply"><i
                                                    class="icofont-reply"></i> Reply</a>
                                        </h5>
                                        <time datetime="2020-01-01">01 Jan, 2020</time>
                                        <p>
                                            Et dignissimos impedit nulla et quo distinctio ex nemo. Omnis quia dolores
                                            cupiditate et. Ut unde
                                            qui eligendi sapiente omnis ullam. Placeat porro est commodi est officiis
                                            voluptas repellat
                                            quisquam possimus. Perferendis id consectetur necessitatibus.
                                        </p>

                                    </div><!-- End comment reply #2-->

                                </div><!-- End comment reply #1-->

                            </div><!-- End comment #2-->

                            <div id="comment-3" class="comment clearfix">
                                <img src="assets/img/comments-5.jpg" class="comment-img  float-left" alt="">
                                <h5><a href="">Nolan Davidson</a> <a href="#" class="reply"><i
                                            class="icofont-reply"></i> Reply</a></h5>
                                <time datetime="2020-01-01">01 Jan, 2020</time>
                                <p>
                                    Distinctio nesciunt rerum reprehenderit sed. Iste omnis eius repellendus quia nihil
                                    ut accusantium
                                    tempore. Nesciunt expedita id dolor exercitationem aspernatur aut quam ut.
                                    Voluptatem est accusamus
                                    iste at.
                                    Non aut et et esse qui sit modi neque. Exercitationem et eos aspernatur. Ea est
                                    consequuntur officia
                                    beatae ea aut eos soluta. Non qui dolorum voluptatibus et optio veniam. Quam officia
                                    sit nostrum
                                    dolorem.
                                </p>

                            </div><!-- End comment #3 -->

                            <div id="comment-4" class="comment clearfix">
                                <img src="assets/img/comments-6.jpg" class="comment-img  float-left" alt="">
                                <h5><a href="">Kay Duggan</a> <a href="#" class="reply"><i class="icofont-reply"></i>
                                        Reply</a></h5>
                                <time datetime="2020-01-01">01 Jan, 2020</time>
                                <p>
                                    Dolorem atque aut. Omnis doloremque blanditiis quia eum porro quis ut velit tempore.
                                    Cumque sed quia
                                    ut maxime. Est ad aut cum. Ut exercitationem non in fugiat.
                                </p>

                            </div><!-- End comment #4 -->

                            <div class="reply-form">
                                <h4>Leave a Reply</h4>
                                <p>Your email address will not be published. Required fields are marked * </p>
                                <form action="">
                                    <div class="row">
                                        <div class="col-md-6 form-group">
                                            <input name="name" type="text" class="form-control"
                                                placeholder="Your Name*">
                                        </div>
                                        <div class="col-md-6 form-group">
                                            <input name="email" type="text" class="form-control"
                                                placeholder="Your Email*">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col form-group">
                                            <input name="website" type="text" class="form-control"
                                                placeholder="Your Website">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col form-group">
                                            <textarea name="comment" class="form-control"
                                                placeholder="Your Comment*"></textarea>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Post Comment</button>

                                </form>

                            </div>

                        </div><!-- End blog comments -->

                    </div><!-- End blog entries list -->
                    <!-- End blog sidebar -->

                </div>

            </div>
        </section><!-- End Blog Section -->

    </main>
</template>