<template>
  <div>
    <section id="whyme" class="whyme" style="background-color: #fdc134">
      <div class="container">
        <div class="container">
          <div class="section-title" data-aos="fade-up">
            <h1 style="color: #213b52">
              <strong>Koperasi Simpan Pinjam</strong>
            </h1>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-3">
            <div class="card">
              <div class="card-body text-center">
                <img src="/assets/img/image 1.png" alt="" />
                <ul style="list-style: none">
                  <li>Pembiayaan mulai dari Rp 10jt</li>
                  <li>Tenor peminjaman 5 tahun</li>
                  <li>Free biaya provisi</li>
                  <li>Pencairan dana 2 hari</li>
                </ul>
                <button class="btn btn-dark">Lihat Detail</button>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="card">
              <div class="card-body text-center">
                <img src="/assets/img/image2.png" alt="" />
                <ul style="list-style: none">
                  <li>Pembiayaan mulai dari Rp 10jt</li>
                  <li>Tenor peminjaman 5 tahun</li>
                  <li>Free biaya provisi</li>
                  <li>Pencairan dana 2 hari</li>
                </ul>
                <button class="btn btn-dark">Lihat Detail</button>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="card">
              <div class="card-body text-center">
                <img src="/assets/img/image 3.png" alt="" />
                <ul style="list-style: none">
                  <li>Pembiayaan mulai dari Rp 10jt</li>
                  <li>Tenor peminjaman 5 tahun</li>
                  <li>Free biaya provisi</li>
                  <li>Pencairan dana 2 hari</li>
                </ul>
                <button class="btn btn-dark">Lihat Detail</button>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="card">
              <div class="card-body text-center">
                <img src="/assets/img/image4.png" alt="" />
                <ul style="list-style: none">
                  <li>Pembiayaan mulai dari Rp 10jt</li>
                  <li>Tenor peminjaman 5 tahun</li>
                  <li>Free biaya provisi</li>
                  <li>Pencairan dana 2 hari</li>
                </ul>
                <button class="btn btn-dark">Lihat Detail</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="whyme" class="whyme" style="background-color: #213b52">
      <div class="container">
        <div class="container">
          <div class="section-title" data-aos="fade-up">
            <h1 style="color: #ffffff">
              <strong>Bank Perkreditan Rakyat</strong>
            </h1>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3">
            <div class="card">
              <div class="card-body text-center">
                <img src="/assets/img/imagebank1.png" alt="" />
                <ul style="list-style: none">
                  <li>Pembiayaan mulai dari Rp 10jt</li>
                  <li>Tenor peminjaman 5 tahun</li>
                  <li>Free biaya provisi</li>
                  <li>Pencairan dana 2 hari</li>
                </ul>
                <button class="btn btn-dark">Lihat Detail</button>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="card">
              <div class="card-body text-center">
                <img src="/assets/img/imagebank2.png" alt="" />
                <ul style="list-style: none">
                  <li>Pembiayaan mulai dari Rp 10jt</li>
                  <li>Tenor peminjaman 5 tahun</li>
                  <li>Free biaya provisi</li>
                  <li>Pencairan dana 2 hari</li>
                </ul>
                <button class="btn btn-dark">Lihat Detail</button>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="card">
              <div class="card-body text-center">
                <img src="/assets/img/imagebank3.png" alt="" />
                <ul style="list-style: none">
                  <li>Pembiayaan mulai dari Rp 10jt</li>
                  <li>Tenor peminjaman 5 tahun</li>
                  <li>Free biaya provisi</li>
                  <li>Pencairan dana 2 hari</li>
                </ul>
                <button class="btn btn-dark">Lihat Detail</button>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="card">
              <div class="card-body text-center">
                <img src="/assets/img/imagebank4.png" alt="" />
                <ul style="list-style: none">
                  <li>Pembiayaan mulai dari Rp 10jt</li>
                  <li>Tenor peminjaman 5 tahun</li>
                  <li>Free biaya provisi</li>
                  <li>Pencairan dana 2 hari</li>
                </ul>
                <button class="btn btn-dark">Lihat Detail</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>