<template>
  <div>
    <section>
      <div class="container">
        <div class="row">
          <div class="col text-left">

              <h2>Pertanyaan Seputar Uemka</h2>
            <div
              style="
                visibility: hidden;
                position: absolute;
                width: 0px;
                height: 0px;
              "
            >
              <svg xmlns="http://www.w3.org/2000/svg">
                <symbol viewBox="0 0 24 24" id="expand-more">
                  <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z" />
                  <path d="M0 0h24v24H0z" fill="none" />
                </symbol>
                <symbol viewBox="0 0 24 24" id="close">
                  <path
                    d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"
                  />
                  <path d="M0 0h24v24H0z" fill="none" />
                </symbol>
              </svg>
            </div>

            <details open>
              <summary>
                Apa itu uemka.com ?
                <svg
                  class="control-icon control-icon-expand"
                  width="24"
                  height="24"
                  role="presentation"
                >
                  <use
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    xlink:href="#expand-more"
                  />
                </svg>
                <svg
                  class="control-icon control-icon-close"
                  width="24"
                  height="24"
                  role="presentation"
                >
                  <use
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    xlink:href="#close"
                  />
                </svg>
              </summary>
              <p>
                UEMKA menghubungkan antara Usaha Mikro Kecil Menengah (UMKM)
                yang membutuhkan tambahan modal, dengan lembaga keuangan
                Koperasi Simpan Pinjam dan BPR yang menyediakan jasa layanan
                keuangan
              </p>
            </details>

            <details>
              <summary>
                Apakah ada batasan sektor UMKM tertentu yang dapat mengakses
                UEMKA?
                <svg
                  class="control-icon control-icon-expand"
                  width="24"
                  height="24"
                  role="presentation"
                >
                  <use
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    xlink:href="#expand-more"
                  />
                </svg>
                <svg
                  class="control-icon control-icon-close"
                  width="24"
                  height="24"
                  role="presentation"
                >
                  <use
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    xlink:href="#close"
                  />
                </svg>
              </summary>
              <p>
                Tidak, UEMKA melayani semua sektor UMKM dan kita memberikan
                rekomendasi terbaik bagi UMKM dalam hal pemilihan Lembaga
                keuangan.
              </p>
            </details>
            <details>
              <summary>
                Apakah layanan UEMKA hanya menyediakan jasa layanan keuangan
                BPR/S & Koperasi Simpan Pinjam?
                <svg
                  class="control-icon control-icon-expand"
                  width="24"
                  height="24"
                  role="presentation"
                >
                  <use
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    xlink:href="#expand-more"
                  />
                </svg>
                <svg
                  class="control-icon control-icon-close"
                  width="24"
                  height="24"
                  role="presentation"
                >
                  <use
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    xlink:href="#close"
                  />
                </svg>
              </summary>
              <p>
                Ya, UEMKA hanya bekerjasama BPR/S & Koperasi Simpan Pinjam
                karena terbukti Lembaga keuangan tersebut lebih banyak
                menyalurkan kredit kepada UMKM
              </p>
            </details>
            <details>
              <summary>
                Apa yang Bisa Saya Dapatkan dari UEMKA?
                <svg
                  class="control-icon control-icon-expand"
                  width="24"
                  height="24"
                  role="presentation"
                >
                  <use
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    xlink:href="#expand-more"
                  />
                </svg>
                <svg
                  class="control-icon control-icon-close"
                  width="24"
                  height="24"
                  role="presentation"
                >
                  <use
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    xlink:href="#close"
                  />
                </svg>
              </summary>
              <p>
                UEMKA menyediakan informasi berbagai Lembaga keuangan sesuai
                dengan lokasi usaha UMKM. Informasi yang UEMKA berikan terkait
                salah satu Lembaga keuangan mulai dari Company Profile Lembaga
                keuangan, jenis jasa layanan keuangan (Agunan/Non Agunan),
                plafon pinjaman, tenor, rate per tahun (%), persyaratan kredit,
                promo dan persyaratan khusus lainnya. Tentunya dalam hal ini
                kami juga berusaha bekerjasama dengan perusahaan atau instansi
                terkait untuk menyediakan data, informasi, dan layanan yang
                benar dan akurat.
              </p>
            </details>
          </div>
        </div>
        <div class="row">
          <div class="col text-left">

              <h2>Pertanyaan Tentang Akun Uemka</h2>
            <div
              style="
                visibility: hidden;
                position: absolute;
                width: 0px;
                height: 0px;
              "
            >
              <svg xmlns="http://www.w3.org/2000/svg">
                <symbol viewBox="0 0 24 24" id="expand-more">
                  <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z" />
                  <path d="M0 0h24v24H0z" fill="none" />
                </symbol>
                <symbol viewBox="0 0 24 24" id="close">
                  <path
                    d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"
                  />
                  <path d="M0 0h24v24H0z" fill="none" />
                </symbol>
              </svg>
            </div>

            <details open>
              <summary>
                Apa itu uemka.com ?
                <svg
                  class="control-icon control-icon-expand"
                  width="24"
                  height="24"
                  role="presentation"
                >
                  <use
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    xlink:href="#expand-more"
                  />
                </svg>
                <svg
                  class="control-icon control-icon-close"
                  width="24"
                  height="24"
                  role="presentation"
                >
                  <use
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    xlink:href="#close"
                  />
                </svg>
              </summary>
              <p>
                UEMKA menghubungkan antara Usaha Mikro Kecil Menengah (UMKM)
                yang membutuhkan tambahan modal, dengan lembaga keuangan
                Koperasi Simpan Pinjam dan BPR yang menyediakan jasa layanan
                keuangan
              </p>
            </details>

            <details>
              <summary>
                Apakah ada batasan sektor UMKM tertentu yang dapat mengakses
                UEMKA?
                <svg
                  class="control-icon control-icon-expand"
                  width="24"
                  height="24"
                  role="presentation"
                >
                  <use
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    xlink:href="#expand-more"
                  />
                </svg>
                <svg
                  class="control-icon control-icon-close"
                  width="24"
                  height="24"
                  role="presentation"
                >
                  <use
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    xlink:href="#close"
                  />
                </svg>
              </summary>
              <p>
                Tidak, UEMKA melayani semua sektor UMKM dan kita memberikan
                rekomendasi terbaik bagi UMKM dalam hal pemilihan Lembaga
                keuangan.
              </p>
            </details>
            <details>
              <summary>
                Apakah layanan UEMKA hanya menyediakan jasa layanan keuangan
                BPR/S & Koperasi Simpan Pinjam?
                <svg
                  class="control-icon control-icon-expand"
                  width="24"
                  height="24"
                  role="presentation"
                >
                  <use
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    xlink:href="#expand-more"
                  />
                </svg>
                <svg
                  class="control-icon control-icon-close"
                  width="24"
                  height="24"
                  role="presentation"
                >
                  <use
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    xlink:href="#close"
                  />
                </svg>
              </summary>
              <p>
                Ya, UEMKA hanya bekerjasama BPR/S & Koperasi Simpan Pinjam
                karena terbukti Lembaga keuangan tersebut lebih banyak
                menyalurkan kredit kepada UMKM
              </p>
            </details>
            <details>
              <summary>
                Apa yang Bisa Saya Dapatkan dari UEMKA?
                <svg
                  class="control-icon control-icon-expand"
                  width="24"
                  height="24"
                  role="presentation"
                >
                  <use
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    xlink:href="#expand-more"
                  />
                </svg>
                <svg
                  class="control-icon control-icon-close"
                  width="24"
                  height="24"
                  role="presentation"
                >
                  <use
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    xlink:href="#close"
                  />
                </svg>
              </summary>
              <p>
                UEMKA menyediakan informasi berbagai Lembaga keuangan sesuai
                dengan lokasi usaha UMKM. Informasi yang UEMKA berikan terkait
                salah satu Lembaga keuangan mulai dari Company Profile Lembaga
                keuangan, jenis jasa layanan keuangan (Agunan/Non Agunan),
                plafon pinjaman, tenor, rate per tahun (%), persyaratan kredit,
                promo dan persyaratan khusus lainnya. Tentunya dalam hal ini
                kami juga berusaha bekerjasama dengan perusahaan atau instansi
                terkait untuk menyediakan data, informasi, dan layanan yang
                benar dan akurat.
              </p>
            </details>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<style scoped>
body {
  font-family: "IBM Plex Sans", sans-serif;
  background-color: rgba(0, 0, 0, 0.1);
}

h2 {
  margin: 20px auto 80px;
  font-size: 38px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 2px;
  line-height: 1.5;
}

details {
  width: 75%;
  min-height: 5px;
  max-width: 700px;
  padding: 45px 70px 45px 45px;
  margin: 0 auto;
  position: relative;
  font-size: 22px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  box-sizing: border-box;
  transition: all 0.3s;
}

details + details {
  margin-top: 20px;
}

details[open] {
  min-height: 50px;
  background-color: #f6f7f8;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
}

details p {
  color: #96999d;
  font-weight: 300;
  margin-top: 10px;
  font-size: 15px;
  text-align: left !important;
}

summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left !important;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

summary:focus {
  outline: none;
}

summary:focus::after {
  content: "";
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 0 0 5px rgb(59, 59, 59);
}

summary::-webkit-details-marker {
  display: none;
}

.control-icon {
  fill: rgb(59, 58, 59);
  transition: 0.3s ease;
  pointer-events: none;
}

.control-icon-close {
  display: none;
}

details[open] .control-icon-close {
  display: initial;
  transition: 0.3s ease;
}

details[open] .control-icon-expand {
  display: none;
}
</style>