<template>
  <div>
    <section id="hero">
      <div
        id="heroCarousel"
        class="carousel slide carousel-fade"
        data-ride="carousel"
      >
        <div class="home" role="listbox">
          <!-- Slide 1 -->
          <div class="container">
            <div class="row" style="padding-top: 100px">
              <div class="col-sm-7">
                <h1>
                  Pilih Pinjaman
                  <br />
                  Terbaik
                </h1>
                <div class="row">
                  <div class="col-xs-12 col-sm-8">
                    <h4 class="lead mt-4">
                      Kami membantu Anda untuk menemukan <br />
                      lembaga keuangan terbaik untuk Anda.<br />
                    </h4>
                  </div>
                  <button class="btn btn-warning mt-3 mr-3">
                    Koperasi Simpan Pinjam
                  </button>
                  <button class="btn btn-warning mt-3">
                    Bank Perkreditan Rakyat
                  </button>
                </div>
                <br />
              </div>
              <div class="col-sm-5 col-sm-offset-12">
                <img src="/assets/img/tegar/Hero/hero1.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <main id="main">
      <div class="section-title" data-aos="fade-up">
        <h1 class="mt-5">Promo Hari Ini</h1>
      </div>

      <section id="promotion">
        <div class="container">
          <div class="col">
            <div
              id="carouselExampleControls"
              class="carousel slide"
              data-ride="carousel"
            >
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img
                    class="d-block w-100"
                    src="/assets/img/Project Cover.png"
                    alt="First slide"
                  />
                </div>
                <div class="carousel-item">
                  <img
                    class="d-block w-100"
                    src="/assets/img/Project Cover.png"
                    alt="Second slide"
                  />
                </div>
                <div class="carousel-item">
                  <img
                    class="d-block w-100"
                    src="/assets/img/Project Cover.png"
                    alt="Third slide"
                  />
                </div>
              </div>
              <a
                class="carousel-control-prev"
                href="#carouselExampleControls"
                role="button"
                data-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="sr-only">Previous</span>
              </a>
              <a
                class="carousel-control-next"
                href="#carouselExampleControls"
                role="button"
                data-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
            <!-- <agile>
              <div class="slide">
                <img src="/assets/img/Project Cover.png" />
              </div>
              <div class="slide">
                <img src="/assets/img/Project Cover.png" />
              </div>
              <div class="slide">
                <img src="/assets/img/imagebank3.png" />
              </div>
            </agile> -->
          </div>
          <div class="text-center">
            <button class="btn btn-warning p-2 mt-5">
              Lihat semua promosi
            </button>
          </div>
        </div>
      </section>

      <section id="portfolio" class="portfolio">
        <div class="container">
          <div class="row" data-aos="fade-up">
            <div class="col-md-7">
              <img src="assets/img/infouemka.png" class="img-fluid" alt="" />
            </div>
            <div class="col-md-5">
              <h1 class="mt-5">Siapa Kami ?</h1>
              <br />
              <h4 class="lead">
                Uemka selangkah lebih maju dalam memenuhi <br />
                kebutuhan utama konsumen di tengah banyaknya <br />
                pilihan produk pinjaman, kesederhanaan. <br /><br />
                Situs ini menyediakan beragam alat bantu untuk <br />
                pengguna, di antaranya perbandingan produk, ulasan <br />
                konsumen, dan penyematan rating.
              </h4>
            </div>
          </div>
        </div>
      </section>

      <section id="get-started" class="padd-section text-center">
        <div class="container" data-aos="fade-up">
          <div class="section-title text-center">
            <h2>Mengapa</h2>
            <img src="/images/header.png" alt="" />
          </div>
        </div>

        <div class="container mt-5">
          <div class="row">
            <div
              class="col-md-6 col-lg-3"
              data-aos="zoom-in"
              data-aos-delay="100"
            >
              <div class="feature-block">
                <img src="assets/img/fitur/fitur1.png" alt="img" class="mb-5" />
                <h4>Helpful</h4>
                <p>
                  Platform UEMKA membantu UMKM dalam akses permodalan dan
                  membantu Lembaga keuangan dalam mencari data nasabah. Tujuan
                  utama UEMKA adalah membantu memenuhi kebutuhan semua pihak
                </p>
              </div>
            </div>

            <div
              class="col-md-6 col-lg-3"
              data-aos="zoom-in"
              data-aos-delay="200"
            >
              <div class="feature-block">
                <img src="assets/img/fitur/fitur2.png" alt="img" class="mb-5" />
                <h4>Expert</h4>
                <p>
                  Platform UEMKA memiliki Expert Person di bidang Lembaga
                  keuangan yang mengerti akan kebutuhan Lembaga keuangan dan
                  konsumen. Sehingga platform transform selalu mengikuti
                  perubahan zaman.
                </p>
              </div>
            </div>

            <div
              class="col-md-6 col-lg-3"
              data-aos="zoom-in"
              data-aos-delay="300"
            >
              <div class="feature-block">
                <img src="assets/img/fitur/fitur3.png" alt="img" class="mb-5" />
                <h4>Rapid</h4>
                <p>
                  Proses kerja yang lebih efektif dan termonitor secara digital
                  sehingga SLS (Service Level Speed) lebih cepat.
                </p>
              </div>
            </div>

            <div
              class="col-md-6 col-lg-3"
              data-aos="zoom-in"
              data-aos-delay="300"
            >
              <div class="feature-block">
                <img src="assets/img/fitur/fitur4.png" alt="img" class="mb-5" />
                <h4>Outstanding</h4>
                <p>
                  Dengan adanya Platform UEMKA, maka tingkat akurasi kecocokan
                  (%) antara persyaratan Lembaga keuangan dan kondisi UMKM lebih
                  tinggi karena melalui platform UEMKA semua informasi terpapar
                  dengan jelas & transparant.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="prosesbisnis">
        <div class="row">
          <div class="col-lg-12">
            <div class="section-title" data-aos="fade-up">
              <h1>Proses bisnis kami</h1>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 text-center">
            <img src="assets/img/prosesuemka.png" alt="" />
          </div>
        </div>
      </section>

      <section id="whyme" class="whyme" style="background-color: #fdc134">
        <div class="container">
          <div class="container">
            <div class="section-title" data-aos="fade-up">
              <h1 style="color: #213b52">
                <strong>Koperasi Simpan Pinjam</strong>
              </h1>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-4">
              <div class="card">
                <div class="card-body text-center">
                  <img src="/assets/img/image 1.png" alt="" />
                  <ul style="list-style: none">
                    <li>Pembiayaan mulai dari Rp 10jt</li>
                    <li>Tenor peminjaman 5 tahun</li>
                    <li>Free biaya provisi</li>
                    <li>Pencairan dana 2 hari</li>
                  </ul>
                  <button class="btn btn-dark">
                    <a href="/kspperusahaan" style="color: yellow">
                      Lihat Detail</a
                    >
                  </button>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card">
                <div class="card-body text-center">
                  <img src="/assets/img/image2.png" alt="" />
                  <ul style="list-style: none">
                    <li>Pembiayaan mulai dari Rp 10jt</li>
                    <li>Tenor peminjaman 5 tahun</li>
                    <li>Free biaya provisi</li>
                    <li>Pencairan dana 2 hari</li>
                  </ul>
                  <button class="btn btn-dark">Lihat Detail</button>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card">
                <div class="card-body text-center">
                  <img src="/assets/img/image 3.png" alt="" />
                  <ul style="list-style: none">
                    <li>Pembiayaan mulai dari Rp 10jt</li>
                    <li>Tenor peminjaman 5 tahun</li>
                    <li>Free biaya provisi</li>
                    <li>Pencairan dana 2 hari</li>
                  </ul>
                  <button class="btn btn-dark">Lihat Detail</button>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center koperasi">
            <button class="btn btn-outline-dark">
              <a href="/Detailkspdankpr">
                Lihat lainnya
                <i class="fas fa-long-arrow-alt-left fa-rotate-180"></i>
              </a>
            </button>
          </div>
        </div>
      </section>

      <section id="whyme" class="whyme" style="background-color: #213b52">
        <div class="container">
          <div class="container">
            <div class="section-title" data-aos="fade-up">
              <h1 style="color: #ffffff">
                <strong>Bank Perkreditan Rakyat</strong>
              </h1>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4">
              <div class="card">
                <div class="card-body text-center">
                  <img src="/assets/img/imagebank1.png" alt="" />
                  <ul style="list-style: none">
                    <li>Pembiayaan mulai dari Rp 10jt</li>
                    <li>Tenor peminjaman 5 tahun</li>
                    <li>Free biaya provisi</li>
                    <li>Pencairan dana 2 hari</li>
                  </ul>
                  <button class="btn btn-dark">Lihat Detail</button>
                </div>
              </div>
            </div>

            <div class="col-lg-4">
              <div class="card">
                <div class="card-body text-center">
                  <img src="/assets/img/imagebank3.png" alt="" />
                  <ul style="list-style: none">
                    <li>Pembiayaan mulai dari Rp 10jt</li>
                    <li>Tenor peminjaman 5 tahun</li>
                    <li>Free biaya provisi</li>
                    <li>Pencairan dana 2 hari</li>
                  </ul>
                  <button class="btn btn-dark">Lihat Detail</button>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card">
                <div class="card-body text-center">
                  <img src="/assets/img/imagebank4.png" alt="" />
                  <ul style="list-style: none">
                    <li>Pembiayaan mulai dari Rp 10jt</li>
                    <li>Tenor peminjaman 5 tahun</li>
                    <li>Free biaya provisi</li>
                    <li>Pencairan dana 2 hari</li>
                  </ul>
                  <button class="btn btn-dark">Lihat Detail</button>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center koperasi1">
            <button class="btn btn-outline-light">
              Lihat lainnya
              <i class="fas fa-long-arrow-alt-left fa-rotate-180"></i>
            </button>
          </div>
        </div>
      </section>

      <section class="comment">
        <div class="container">
          <div class="container-xl">
            <div class="row">
              <div class="col-sm-12">
                <h2 class="text-center mb-5">
                  <b>Yuk untung bersama!</b>
                  <br />
                  <p class="mt-3">
                    Lihat apa kata mereka yang telah bergabung Uemka
                  </p>
                </h2>
                <div
                  id="myCarousel"
                  class="carousel slide"
                  data-ride="carousel"
                >
                  <!-- Carousel indicators -->
                  <ol class="carousel-indicators">
                    <li
                      data-target="#myCarousel"
                      data-slide-to="0"
                      class="active"
                    ></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                  </ol>
                  <!-- Wrapper for carousel items -->
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="media">
                            <img
                              src="/assets/img/Picture.png"
                              class="mr-3"
                              alt=""
                            />
                            <div class="media-body">
                              <div class="testimonial">
                                <p>
                                  Lorem ipsum dolor sit amet, consec adipiscing
                                  elit. Nam eusem scelerisque tempor, varius
                                  quam luctus dui. Mauris magna metus nec.
                                </p>
                                <p class="overview">
                                  <b>Muhammad Aziz</b>, Media Analyst
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="media">
                            <img
                              src="/assets/img/Picture.png"
                              class="mr-3"
                              alt=""
                            />
                            <div class="media-body">
                              <div class="testimonial">
                                <p>
                                  Vestibulum quis quam ut magna consequat
                                  faucibus. Pellentesque eget mi suscipit
                                  tincidunt. Utmtc tempus dictum. Pellentesque
                                  virra.
                                </p>
                                <p class="overview">
                                  <b>Antonio Moreno</b>, Web Developer
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="media">
                            <img
                              src="/assets/img/Picture.png"
                              class="mr-3"
                              alt=""
                            />
                            <div class="media-body">
                              <div class="testimonial">
                                <p>
                                  Lorem ipsum dolor sit amet, consec adipiscing
                                  elit. Nam eusem scelerisque tempor, varius
                                  quam luctus dui. Mauris magna metus nec.
                                </p>
                                <p class="overview">
                                  <b>Michael Holz</b>, Seo Analyst
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="media">
                            <img
                              src="/assets/img/Picture.png"
                              class="mr-3"
                              alt=""
                            />
                            <div class="media-body">
                              <div class="testimonial">
                                <p>
                                  Vestibulum quis quam ut magna consequat
                                  faucibus. Pellentesque eget mi suscipit
                                  tincidunt. Utmtc tempus dictum. Pellentesque
                                  virra.
                                </p>
                                <p class="overview">
                                  <b>Mary Saveley</b>, Web Designer
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="media">
                            <img
                              src="/assets/img/Picture.png"
                              class="mr-3"
                              alt=""
                            />
                            <div class="media-body">
                              <div class="testimonial">
                                <p>Bisnis Aku Berkembang Pesat</p>
                                <p class="overview">
                                  <b>Muhammad Aziz</b> , Pedagang Sembako
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="media">
                            <img
                              src="/assets/img/Picture.png"
                              class="mr-3"
                              alt=""
                            />
                            <div class="media-body">
                              <div class="testimonial">
                                <p>
                                  Vestibulum quis quam ut magna consequat
                                  faucibus. Pellentesque eget mi suscipit
                                  tincidunt. Utmtc tempus dictum. Pellentesque
                                  virra.
                                </p>
                                <p class="overview">
                                  <b>John Williams</b>, Web Developer
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="kontakwa">
        <div class="container">
          <div class="section-title" data-aos="fade-up">
            <h1 style="color: #213b52">
              <strong
                >Punya pertanyaan? <br />
                Hubungi kami</strong
              >
            </h1>
            <button class="btn btn-success p-3 mt-3">
              <i class="fab fa-whatsapp mr-2"></i>whatsapp
            </button>
          </div>
          <div class="row">
            <div class="col-lg-12 justify-content-center">
              <img src="assets/img/haha.png" alt="" v-rjs="3" />
            </div>
          </div>
        </div>
      </section>
    </main>
  </div>
</template>

