<template>
  <section class="artikel-1">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h1>Promosi</h1>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-lg-6">
          <div class="card">
            <img
              src="/assets/img/bca.png"
              class="card-img-top mb-3 img-responsive"
              alt="..."
            />
            <div class="card-body">
              <a href="/Promosi" class="card-text h5 mt-4 font-weight-bold"
                >Promo cicilan BCA 0%</a
              >
              <br />
              <p class="mt-4">Senin, 23 Nov 2020 11:44 WIB</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card">
            <img
              src="/assets/img/adira.png"
              class="card-img-top mb-3"
              alt="..."
            />
            <div class="card-body">
              <a href="#" class="card-text h5 mt-4 font-weight-bold"
                >Corona Ganas Lagi, IHSG Diprediksi Terkoreksi</a
              >
              <br />
              <p class="mt-4">Senin, 23 Nov 2020 11:44 WIB</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-lg-6">
          <div class="card">
            <img
              src="/assets/img/mandiri.png"
              class="card-img-top mb-3 img-responsive"
              alt="..."
            />
            <div class="card-body">
              <a href="#" class="card-text h5 mt-4 font-weight-bold"
                >Promo cicilan BCA 0%</a
              >
              <br />
              <p class="mt-4">Senin, 23 Nov 2020 11:44 WIB</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card">
            <img
              src="/assets/img/astrapay.png"
              class="card-img-top mb-3"
              alt="..."
            />
            <div class="card-body">
              <a href="#" class="card-text h5 mt-4 font-weight-bold"
                >Corona Ganas Lagi, IHSG Diprediksi Terkoreksi</a
              >
              <br />
              <p class="mt-4">Senin, 23 Nov 2020 11:44 WIB</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>