<template>
      <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="portfolio" role="listbox">
        <!-- Slide 1 -->
        <div class="portfolio container">
          <div class="row" style="padding-top: 100px;">
            <div class="col-sm-6">
              <h1>Terima kasih <br>
                sudah mendaftar</h1>
              <div class="row">
                <div class="col-xs-12 col-sm-8">
                  <h4 class="lead mt-4">Tim kami akan menghubungi kamu dalam 1 x 24 jam<br>

                    untuk melakukan verifikasi data kamu <br>
                     Pastikan No Handphone dan email kamu aktif.</h4>

                  <button class="btn btn-warning mt-3">Kembali ke home</button>
                </div>
              </div>
              <br>
            </div>
            <div class="col-sm-6 col-sm-offset-12">
              <img src="/assets/img/tegar/Hero/hero.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Hero -->

</template>