<template>
        <main id="main">
        <div class="container">
            <div class="row">
                <div class="col mt-5">
                    <h1>Profile Anda</h1>
                    <p>Selamat datang,Tegar</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col  Profile">
                    <img src="/assets/img/lilo.png" class="rounded-circle">
                </div>
            </div>
            
            <div class="row justify-content-center mt-5">
                <div class="col-sm-6">
                    <div class="media">
                        <img src="/assets/img/user.png" class="mr-3" alt="">
                        <div class="media-body">
                            <div class="testimonial">
                                <p>Nama lengkap</p>
                                <p class="overview">Lilo Digdya Pasha Santoso</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-6">
                    <div class="media">
                        <img src="/assets/img/telp.png" class="mr-3" alt="">
                        <div class="media-body">
                            <div class="testimonial">
                                <p>Nomor telepon</p>
                                <p class="overview">0821 2312-2312</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-6">
                    <div class="media">
                        <img src="/assets/img/mail.png" class="mr-3" alt="">
                        <div class="media-body">
                            <div class="testimonial">
                                <p>Email</p>
                                <p class="overview">lilopsh@yahoo.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-6">
                    <div class="media">
                        <img src="/assets/img/instagram.png" class="mr-3" alt="">
                        <div class="media-body">
                            <div class="testimonial">
                                <p>Social media</p>
                                <p class="overview">@lilopasha</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-6">
                    <div class="media">
                        <img src="/assets/img/jobs.png" class="mr-3" alt="">
                        <div class="media-body">
                            <div class="testimonial">
                                <p>Bidang pekerjaan</p>
                                <p class="overview">Pengusaha otomotif</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-6">
                    <div class="media">
                        <img src="/assets/img/location.png" class="mr-3" alt="">
                        <div class="media-body">
                            <div class="testimonial">
                                <p>Alamat domisili</p>
                                <p class="overview">Sunburst CBD, Jl. Kapten Soebijanto Djojohadikusumo 
                                    Jl. Komp. Bsd No.2, Lengkong Gudang, City, Kota Tangerang Selatan, Banten 15322</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row text-center info-guys">
            <div class="col">
                <h4>Terus gunakan layanan infomodal untuk meningkatkan <br> level customer card Anda dan dapatkan keuntungannya</h4>
            </div>
        </div>

    <div class="row text-center kartumember">
        <div class="col">
            <img src="/assets/img/kartumember.png" alt="">
            <div>
                <button class="btn btn-warning">Ajukan Peningkatan Level</button>
            </div>
           <p>Keluar Akun</p>
        </div>
        
    </div>

    </main>
</template>