<template>
  <router-view></router-view>
</template>
<script>
export default {
  beforeCreate: function () {
    let all = document.createElement("link");
    all.type = "text/css";
    all.rel = "stylesheet";
    all.href = "assets/css/login.css";
    document.head.appendChild(all);
  },
};
</script>