<template>
  <div id="wrapper">
    <Sidebar />

    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <div class="container-fluid">
          <div
            class="d-sm-flex align-items-center justify-content-between mt-5 mb-5"
          >
            <h1 class="h3 mb-0">Report Summary</h1>
          </div>

          <div class="row">
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold e mb-1">Kospin</div>
                      <div class="h5 mb-0 font-weight-bold">1,254</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold mb-1">Bpr</div>
                      <div class="h5 mb-0 font-weight-bold">809</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold mb-1">Terdaftar</div>
                      <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                          <div class="h5 mb-0 mr-3 font-weight-bold">114</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Pending Requests Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold mb-1">Pengajuan</div>
                      <div class="h5 mb-0 font-weight-bold">27</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="table-responsive">
            <table class="table table-hover mt-3" width="70%">
              <thead>
                <tr>
                  <th scope="col">Nama pendaftar baru</th>
                  <th scope="col">Partner</th>
                  <th scope="col">Jumlah pinjaman</th>
                  <th scope="col">Tenor</th>
                  <th scope="col">Domisili</th>
                  <th scope="col">Profesi</th>
                  <th scope="col">Tanggal lahir</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Soleh Solihun  <br>Tanggal daftar: 11 Des 2020</td>
                  <td>BFI Finance</td>
                  <td>Rp 9.000.000</td>
                  <td>3 bulan</td>
                  <td>Surabaya</td>
                  <td>Karyawan</td>
                  <td>11 Nov 1987</td>
                </tr>
                <tr>
                  <td>Soleh Solihun  <br>Tanggal daftar: 11 Des 2020</td>
                  <td>BFI Finance</td>
                  <td>Rp 9.000.000</td>
                  <td>3 bulan</td>
                  <td>Surabaya</td>
                  <td>Karyawan</td>
                  <td>11 Nov 1987</td>
                </tr>
                <tr>
                  <td>Soleh Solihun  <br>Tanggal daftar: 11 Des 2020</td>
                  <td>BFI Finance</td>
                  <td>Rp 9.000.000</td>
                  <td>3 bulan</td>
                  <td>Surabaya</td>
                  <td>Karyawan</td>
                  <td>11 Nov 1987</td>
                </tr>
                <tr>
                  <td>Soleh Solihun  <br>Tanggal daftar: 11 Des 2020</td>
                  <td>BFI Finance</td>
                  <td>Rp 9.000.000</td>
                  <td>3 bulan</td>
                  <td>Surabaya</td>
                  <td>Karyawan</td>
                  <td>11 Nov 1987</td>
                </tr>
              
              </tbody>
            </table>
          </div>
          <div class="row">
            <div class="col-6  mt-4">
              <table class="table  table-hover" width="100%">
                <thead>
                  <tr>
                    <th scope="col">Koperasi Simpan Pinjam</th>
                    <th scope="col">Jumlah Pendaftar</th>
                    <th scope="col">Pengajuan</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>Koperasi ABC</td>
                    <td>10</td>
                    <td>10</td>
                  </tr>
                  <tr>
                    <td>Koperasi ABC</td>
                    <td>10</td>
                    <td>10</td>
                  </tr>
                  <tr>
                    <td>Koperasi ABC</td>
                    <td>10</td>
                    <td>10</td>
                  </tr>
                  <tr>
                    <td>Total</td>
                    <td>2 100</td>
                    <td>12 210</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="col-6 mt-4">
              <table class="table  table-hover" width="100%">
                <thead>
                  <tr>
                    <th scope="col">Bank Prekreditan Rakyat</th>
                    <th scope="col">Jumlah Pendaftar</th>
                    <th scope="col">Pengajuan</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>Koperasi ABC</td>
                    <td>10</td>
                    <td>10</td>
                  </tr>
                  <tr>
                    <td>Koperasi ABC</td>
                    <td>10</td>
                    <td>10</td>
                  </tr>
                  <tr>
                    <td>Koperasi ABC</td>
                    <td>10</td>
                    <td>10</td>
                  </tr>
                  <tr>
                    <td>Total</td>
                    <td>2 100</td>
                    <td>12 210</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
      </div>

      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2020</span>
          </div>
        </div>
      </footer>
    </div>
  </div>
</template>
<style  scoped>
h1 {
  font-family: "Manrope";
  font-size: 36px;
  font-weight: 800;
  color: #182940 !important;
}
.h5 {
  font-family: "Manrope";
  font-weight: 500 !important;
  font-size: 48px;

  color: #f5c543 !important;
}
.text-xs {
  font-family: "Manrope";
  font-style: normal;
  font-size: 20px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.87);
}
.shadow {
  width: 235px;
  height: 136px;
  background: rgba(245, 197, 67, 0.2325);
  border-radius: 26px;
  border: #f5c543;
}
</style>
<script>
import Sidebar from "../../layouts/template/Sidebar.vue";
export default {
  components: {
    Sidebar,
  },
};
</script>