<template>
  <div id="wrapper">
    <Sidebar />
    <div class="container-fluid">
      <!-- Page Heading -->
      <h1 class="h3 mb-2 text-gray-800 mt-5">Payment Billing</h1>

      <div class="text-right">
        <button class="btn btn-warning mb-3">
          Download Excel <i class="fal fa-download ml-2"></i>
        </button>
        <button class="btn btn-warning mb-3">
          Download PDF <i class="fal fa-download ml-2"></i>
        </button>
      </div>
      <!-- DataTales Example -->
      <div class="card shadow mb-4">
        <!-- <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
        </div> -->
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-hover" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Partner</th>
                  <th>Nama Pelunas</th>
                  <th>Start Date</th>
                  <th>Due Date</th>
                  <th>Jumlah Pinjaman</th>
                  <th>Tenor</th>
                  <th>Cicilan per bulan</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>BFI Finance</td>
                  <td>Davis Westervelt</td>
                  <td>03/03/12 22:43</td>
                  <td>03/03/12 22:43</td>
                  <td>Rp 10.000.000</td>
                  <td>3 bulan</td>
                  <td>Rp 3.000.000</td>

                  <td>
                    <button class="btn btn-warning produk">Pending</button>
                  </td>
                </tr>
                <tr>
                  <td>BFI Finance</td>
                  <td>Davis Westervelt</td>
                  <td>03/03/12 22:43</td>
                  <td>03/03/12 22:43</td>
                  <td>Rp 10.000.000</td>
                  <td>3 bulan</td>
                  <td>Rp 3.000.000</td>

                  <td>
                    <button class="btn btn-success">Completed</button>
                  </td>
                </tr>
                <tr>
                  <td>BFI Finance</td>
                  <td>Davis Westervelt</td>
                  <td>03/03/12 22:43</td>
                  <td>03/03/12 22:43</td>
                  <td>Rp 10.000.000</td>
                  <td>3 bulan</td>
                  <td>Rp 3.000.000</td>

                  <td>
                    <button class="btn btn-warning produk">Pending</button>
                  </td>
                </tr>
                <tr>
                  <td>BFI Finance</td>
                  <td>Davis Westervelt</td>
                  <td>03/03/12 22:43</td>
                  <td>03/03/12 22:43</td>
                  <td>Rp 10.000.000</td>
                  <td>3 bulan</td>
                  <td>Rp 3.000.000</td>

                  <td>
                    <button class="btn btn-danger produk">Canceled</button>
                  </td>
                </tr>
                <tr>
                  <td>BFI Finance</td>
                  <td>Davis Westervelt</td>
                  <td>03/03/12 22:43</td>
                  <td>03/03/12 22:43</td>
                  <td>Rp 10.000.000</td>
                  <td>3 bulan</td>
                  <td>Rp 3.000.000</td>

                  <td>
                    <button class="btn btn-warning produk">Pending</button>
                  </td>
                </tr>
                <tr>
                  <td>BFI Finance</td>
                  <td>Davis Westervelt</td>
                  <td>03/03/12 22:43</td>
                  <td>03/03/12 22:43</td>
                  <td>Rp 10.000.000</td>
                  <td>3 bulan</td>
                  <td>Rp 3.000.000</td>

                  <td>
                    <button class="btn btn-warning produk">Pending</button>
                  </td>
                </tr>
                <tr>
                  <td>BFI Finance</td>
                  <td>Davis Westervelt</td>
                  <td>03/03/12 22:43</td>
                  <td>03/03/12 22:43</td>
                  <td>Rp 10.000.000</td>
                  <td>3 bulan</td>
                  <td>Rp 3.000.000</td>

                  <td>
                    <button class="btn btn-success">Completed</button>
                  </td>
                </tr>
                <tr>
                  <td>BFI Finance</td>
                  <td>Davis Westervelt</td>
                  <td>03/03/12 22:43</td>
                  <td>03/03/12 22:43</td>
                  <td>Rp 10.000.000</td>
                  <td>3 bulan</td>
                  <td>Rp 3.000.000</td>

                  <td>
                    <button class="btn btn-success">Completed</button>
                  </td>
                </tr>
                <tr>
                  <td>BFI Finance</td>
                  <td>Davis Westervelt</td>
                  <td>03/03/12 22:43</td>
                  <td>03/03/12 22:43</td>
                  <td>Rp 10.000.000</td>
                  <td>3 bulan</td>
                  <td>Rp 3.000.000</td>

                  <td>
                    <button class="btn btn-success">Completed</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<style scoped>
h1 {
  font-family: "manrope";
  color: #182940 !important;
  font-weight: 800;
}
.table button {
  width: 98px;
  height: 24px;
  border-radius: 4px;
  font-size: 12px;
  padding: 4px 10px 20px 10px;
}
</style>
<script>
import Sidebar from "../../layouts/template/Sidebar.vue";
export default {
  components: {
    Sidebar,
  },
};
</script>