<template>
  <div>
    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6 footer-contact">
              <img src="/images/header.png" class="mb-2" alt="" />
              <p>
                Uemka bukan lembaga keuangan. <br />
                Semua materi yang diposting di situs <br />
                memiliki karakter informasi. Ketentuan <br />
                untuk penerbitan layanan produk <br />
                (pinjaman), silahkan periksa di situs <br />
                web lembaga keuangan.
                <br />
              </p>
            </div>

            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Layanan</h4>
              <ul>
                <li><a href="#">Tentang kami</a></li>
                <li><a href="#">Produk</a></li>
                <li><a href="#">Artikel</a></li>
                <li><a href="#">Daftar Sebagai Lembaga</a></li>
                <!-- <li> <a href="#">Product Management</a></li>
              <li> <a href="#">Marketing</a></li>
              <li> <a href="#">Graphic Design</a></li> -->
              </ul>
            </div>
            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Lokasi Kami</h4>
              <ul>
                <li>
                  <p>
                    BFI Tower <br />
                    Sunburst CBD Lot. 1.2 <br />
                    Jl. Kapt. Soebijanto Djojohadikusumo <br />
                    BSD City - Tangerang Selatan 15322
                  </p>
                </li>

                <!-- <li> <a href="#">Product Management</a></li>
              <li> <a href="#">Marketing</a></li>
              <li> <a href="#">Graphic Design</a></li> -->
              </ul>
            </div>

            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Hubungi Kami</h4>
              <ul>
                <li>
                  <img src="/images/email.png" class="mr-3" alt="" />
                  <a href="#">contact@uemka.com</a>
                </li>
                <li>
                  <img src="/images/ig.png" class="mr-3" alt="" /><a href="#"
                    >@uemka_sitama
                  </a>
                </li>
                <li>
                  <img src="/images/wa.png" class="mr-3" alt="" /><a href="#"
                    >0812 1107 -1420
                  </a>
                </li>
                <li>
                  <img src="/images/fb.png" class="mr-3" alt="" /><a href="#"
                    >Uemka Sitama</a
                  >
                </li>

                <!-- <li> <a href="#">Product Management</a></li>
              <li> <a href="#">Marketing</a></li>
              <li> <a href="#">Graphic Design</a></li> -->
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="togar container d-md-flex py-4 ">
        <div class="mr-md-auto text-center text-md-left">
          <div class="copyright">&copy; 2020 Uemka. All rights reserved</div>
        </div>
        <div class="text-center text-md-right">
          <a href="/TermsConditions">Team & Conditions</a> |
          <a href="/Privacy">Privacy Policy</a> |
          <a href="#">Disclaimer</a>
        </div>
      </div>
    </footer>
    <!-- End Footer -->
  </div>
</template>