<template>
  <div>
    <Navbaruemka></Navbaruemka>
    <router-view></router-view>
    <Footeruemka />
  </div>
</template>
<script>
import Navbaruemka from "../layouts/Navbar";
import Footeruemka from "../layouts/Footer";
export default {
  components: {
    Navbaruemka,
    Footeruemka,
  },
};
</script>